
  .fullscreen-bg {
    height: 100vh; 
    width: 100vw; 
    background-image: url('../assets/images/2718x1024_Blog_header_Finance-Predictions-2024-1920x723.jpg'); /* Make sure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .fullscreen-bg1 {
    height: 100vh; 
    width: 100vw; 
    background-image: url('../assets/images/GettyImages-1311598658.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  